<launch>
	<arg name="end_effector" default="rq140" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="robot_broadcaster" args="0 0 0 0 0 0 world base_link"/>
	<include file="$(find urdf_tutorial)/launch/display.launch" >
		<arg name="model" value="$(find iiwa_description)/urdf/iiwa14_$(arg end_effector).xacro" />
		<arg name="rvizconfig" value="$(find iiwa_description)/rviz/display_iiwa.rviz" />
	</include>
</launch>
