<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find iiwa_description)/urdf/iiwa14_description.xacro" />
    <xacro:include filename="$(find iiwa_description)/urdf/robotiq_arg2f_140_model_macro.xacro" />
    <xacro:include filename="$(find iiwa_description)/gazebo/iiwa_gripper_gazebo.xacro" />
    <xacro:include filename="$(find iiwa_description)/ros2_control/iiwa_gripper_system_interface.xacro" />

    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="mode" default="true" />

    <!-- macros for gazebo / mock / hardware -->
    <xacro:lbr_gazebo robot_name="$(arg robot_name)" />

	<link name="world" />
	<link name="base_link"/>
	<joint name="fixed_link_robot_base" type="fixed">
		<parent link="world" />
		<child link="base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>

    <joint name="world_$(arg robot_name)_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world" />
        <child link="$(arg robot_name)_link_0" />
    </joint>

    <!-- iiwa -->
    <xacro:iiwa14
        robot_name="$(arg robot_name)"
        mode="$(arg mode)" />


	<xacro:robotiq_arg2f_140 prefix="" />
	<joint name="iiwa_ee_link_gripper_base" type="fixed">
		<parent link="lbr_link_ee" />
		<child link="robotiq_arg2f_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi/2}" />
	</joint>
	<link name="tool" />
	<joint name="eef_tip" type="fixed">
		<parent link="robotiq_arg2f_base_link" />
		<child link="tool" />
		<origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0" />
	</joint>

	<!-- To remove errors -->
	<link name="dummy_left_inner_finger_joint_mimic"/>
	<joint name="left_inner_finger_joint_mimic" type="fixed">
		<parent link="world" />
		<child link="dummy_left_inner_finger_joint_mimic" />
	</joint>
	<link name="dummy_left_inner_knuckle_joint_mimic"/>
	<joint name="left_inner_knuckle_joint_mimic" type="fixed">
		<parent link="world" />
		<child link="dummy_left_inner_knuckle_joint_mimic" />
	</joint>
	<link name="dummy_right_inner_finger_joint_mimic"/>
	<joint name="right_inner_finger_joint_mimic" type="fixed">
		<parent link="world" />
		<child link="dummy_right_inner_finger_joint_mimic" />
	</joint>
	<link name="dummy_right_inner_knuckle_joint_mimic"/>
	<joint name="right_inner_knuckle_joint_mimic" type="fixed">
		<parent link="world" />
		<child link="dummy_right_inner_knuckle_joint_mimic" />
	</joint>
	<link name="dummy_right_outer_knuckle_joint_mimic"/>
	<joint name="right_outer_knuckle_joint_mimic" type="fixed">
		<parent link="world" />
		<child link="dummy_right_outer_knuckle_joint_mimic" />
	</joint>

</robot>